@model CheckoutViewModel

<h1>Checkout</h1>
<form method="post" action="@Url.Action("ProcessOrder", "Checkout")">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="FirstName">
    <!-- Ostala polja za unos podataka korisnika -->
    <button type="submit">Submit Order</button>
</form>
